<div class="answers">
  {{#each this}}
  <section class="answer">
    <div class="answer-info">
      {{user.username}} on {{format_date createdAt}} <i type="submit" class="fas fa-trash" id="delete-answer-btn"></i>
    </div>
    <div answer_id="{{id}}" class="answer-text-box">
      {{answer_text}}
    </div>
  </section>
  {{/each}}
</div>