<article class="post">
  <div class="title">
    <h3>{{user.username}}||<span>created {{format_date createdAt}}</span></h3>
    <p>{{question_title}}(<span>{{question_text}}</span>)</p>
  </div>
  <div class="meta">
        
  </div>
</article>