<div class="container-fluid">

  <div class = "jumbotron mainJumbotron text-center">
    <h2>It's time to get a tutor.</h2>

  </div>

  <!-- BEGIN NEW MAIN PAGE CONTENT -->
  <h2> <center> How tutorApp works </h2> </center>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"> 
        <h4><center> Request Your Tutor </center></h4> 
      </div>
      <div class="panel-body">
         <center> <img src="/public/assets/img/comp.png" height="100" width="100"> 
         <p> Log in and request a tutor. You can search by subject or, if you're looking for someone special, you can search by name. </p></center> 
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"> 
        <h4>  <center> Meet & Learn </center> </h4> </div>
      <div class="panel-body">
         <center> <img src="/public/assets/img/meet.png" height="100" width="100"> 
         <p> Once your tutor approves the session, set a location. Work to gether to cover the topics you need the most help in.</p></center> 
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"> 
        <h4>  <center> Get #goodKarma </center> </h4> 
      </div>
      
      <div class="panel-body">
         <center> <img src="/public/assets/img/karma.png" height="100" width="100"> 
         <p>Let others know about your experience.</center> </p>
      </div>
    </div>
  </div>

</div>