<!-- MAIN CONTENT -->
<div class="container">

<div class="jumbotron tutorJumbotron">
    <h2> Want to get a tutor? Enter your information! </h2>
</div>


<div class="form">
  <form class="create-update-form" action="/tutor" method="POST" id="user-form"> 
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1 firstname">First Name</span>
      <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name" aria-describedby="basic-addon1">
  </div>  
  <br>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1 lastname">Last Name</span>
    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name" aria-describedby="basic-addon1">
  </div> 
    </select>
  </div>
</div>