<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tutor App</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="icon" href="/assets/favicon.ico">
  
</head>

<body>

  <div class="wrapper">
    <header id="main-nav-bar" class="navbar navbar-dark bg-dark">
      <h1>
        <a id="tutor-title" href="/">Tutor App</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <div class="topnav search-form">
          <input type="text" id="search-text" placeholder="Search..">
          <button type="submit" id="search-id">Search</button>
          <button id="logout" class="btn-no-style">logout</button>
          <a href="/post">Post</a>
        </div>
        {{else}}
        <a id="login" href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  <script src="/javascript/search.js"></script>
  
  {{/if}}

</body>
{{!-- <script src="/javascript/login.js" --}}
</html>