<section>
  {{#if loggedIn}}
  <h2>Edit Question</h2>
  <form question_id="{{question.id}}" class="edit-question-form">
    <div>
      <label for="question-title">Title</label>
      <input type="text" id="question-title" name="question-title" value="{{question.question_title}}"/> 
    </div>
    <div>
      <label for="question-summary">Summary</label>
      <input id="question-summary" name="question-summary" value="{{question.question_text}}"/>
    </div>
    

    <button type="submit" class="save-btn">Save Changes</button>
    <button type="submit" class="delete-btn">Delete Question</button>
    {{/if}}
    
  </form>
</section>

{{#if loggedIn}}
<script src="/javascript/edit-question.js"></script>
<script src="/javascript/delete-question.js"></script>
{{/if}}