<ol class="post-list">
  {{#each questions as |question|}}
  <li>
    {{> question-info question }}
  </li>
  <div class="meta">
        <a href="/question/{{question.id}}">Answers</a>
  </div>
  {{/each}}
</ol>