<ol class="post-list">
  {{#each questions as |question|}}
  <li>
    {{> question-info question }}
    <a class="answers-link" href="/question/{{question.id}}">Answers</a>
    <br></br>
  </li>
  {{/each}}
</ol>