{{> question-info question}}
<p class="question-text-box">{{question.question_text}}</p>

{{> answers question.answers}}

{{#if loggedIn}}
<form class="answer-form">
  <div>
    <textarea name="answer-body"></textarea>
  </div>

  <div>
    <button type="submit">add answer</button>
    {{!-- <button type="button" class="upvote-btn">upvote</button> --}}
  </div>
</form>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/add-answer.js"></script>
{{/if}}