* {
	box-sizing: border-box;
  }
  :root {
	--primary: #6092cf;
	--secondary: #197d0f;
	--tertiary: #333
  }
 /* all in nav bar*/ 

#entire-top {
	border-radius: 8px;
}
#tutor-title {
	font-family: sans-serif;
	color: var(--primary);
	font-size: 20px;
	font-weight: bold;
	
}
#post-id {
	font-family: sans-serif;
	color: var(--primary);
	font-size: 16px;
	
	padding-right: 10px;
	margin-top: 4px;
}
#search-text {
	padding-right:10px;
}
#logout {
	color: var(--primary);
	padding-right: 10px;
	font-weight: normal;
}
#login {
	color: var(--primary);
}
a {
	text-decoration: none;
	color: var(--primary);
	
	transition: color .1s;
  }
.search-bar-right {
	display: flex;
	justify-content: space-evenly;
	
}
#search-id {
	margin-right: 0px;
	margin-left: 0px;
	background: var(--primary);
	padding-right: 10px;
}


   body, html {
	background-image: url('/assets/background-img.jpg');
	background-size: cover;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	color: rgb(20, 20, 20); 
  }

  .hero {
	


  }
  
  a:hover {
	color: #3486eb;
  }
  
  button {
	background-color: #225ca3;
	border: 0;
	padding: 1%;
	color: white;
	font-weight: bold;
	transition: background-color .1s;
	cursor: pointer;
	border-radius: 5px;
  }
  
  button:hover {
	background-color: #3486eb;
  }
  
  .post-list {
	margin: 0;
	padding: 0;
  }
  
  textarea, input {
	padding: .5%;
	border-radius: 5px;
	border: 1px solid #ccc;
  }
  
  textarea:focus, input:focus {
	outline: none;
	border: 1px solid #3486eb;
  }
  
  textarea {
	min-width: 40%;
	min-height: 100px;
  }
  
  form > div {
	margin-bottom: 2%;
  }
  
  form label {
	display: block;
  }
  
  .wrapper {
	width: 100%;
	min-height: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
  }
  
  header {
	border-bottom: 1px solid #ccc;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1%;
  }
  
  header h1 {
	font-size: 1em;
  }
  
  main {
	flex: 1;
	padding: 2% 4%;
  }
  
  .btn-no-style {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	text-decoration: none;
	color: var(--primary);
	font-size: 100%;
	font-weight: bold;
	transition: color .1s;
	margin-left: 10px;
  }
  
  .btn-no-style:hover {
	background: none;
	color: #d0e5ff;
  }
  
  .delete-post-btn {
	background-color: #d41414;
  }
  
  .delete-post-btn:hover {
	background-color: #ff643d;
  }
  
  .post {
	margin-bottom: 2%;
	line-height: 150%;
  }
  
  .post .title span {
	font-style: italic;
	font-size: 90%;
	color: #7d7d7d;
  }
  
  .edit-link {
	display: block;
	margin: -1.5% 0 2% 0;
  }


  .upvote-btn {
	background-color: #197d0f;
	transition: background-color .1s;
  }
  
  .upvote-btn:hover {
	background-color: #1f9c13;
  }
  
  .comment-form {
	margin-bottom: 5%;
  }
  
  .comment {
	padding: 1%;
	margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
	background-color: #fff5eb;
  }
  
  .comment .meta {
	font-size: 90%;
	margin-bottom: .5%;
	opacity: .6;
  }
  
  .new-post-form input {
	width: 300px;
  }
  
  .edit-post-form {
	margin-bottom: 5%;
  }
  
  footer {
	border-top: 1px solid #ccc;
	display: flex;
	justify-content: center;
	padding: 1%;
	font-size: 110%;
  }